.no-m{
    margin:0 !important;
    padding: 0 !important;
}
.min-p{
    padding: 10px;
}
.payco-header {

    background-color: #007bff;
    height: 75px;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    color: white;

}
/* #6610f2 */

.payco-subheader {
    border-radius: 0%;
    margin-top:75px;
    height: 40px;
    width: 100%;
    position: fixed;
    top: 1;
    left: 0;
    color: white;
}

.secondary-nav>li>a:hover {
    text-decoration: none;
    background-color: #212529 !important;
}

.secondary-nav>li>a:focus {
    text-decoration: none;
    background-color: #212529 !important;
}

.size-7{
    font-size: 13px;
}

.bg-transparent{
    background-color: rgba(255,255,255,0);
}
.dark-blue{
    background-color: #008eb4;
    
}

a.ASC:hover::after {
    visibility: 100%;
    display: inline-block;
    font-style: normal;
    font-variant: normal;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    /* content: "\f062"; */
    content: "\f062";
    visibility: visible;

}
a.DESC:hover::after {
     visibility: 100%;
          display: inline-block;
          font-style: normal;
          font-variant: normal;
          text-rendering: auto;
          -webkit-font-smoothing: antialiased;
          font-family: "Font Awesome 5 Free";
          font-weight: 900;
          /* content: "\f062"; */
          content: "\f063";
          visibility: visible;
          
}

.e-footer-bar{
      position: absolute;
      left: 0;
      bottom: 0;
      width: 100%;
}
.e-container-fluid{
     min-height: 100vh;
     /* will cover the 100% of viewport */
     overflow: hidden;
     display: block;
     position: relative;
     padding-bottom: 100px;
      /* height of your footer */

}