<div class="e-container-fluid p-3" ng-init="batchApprenticeFees; getBatchesAFReports()">
    <div class="d-flex between">
            <div class="e-form-group unified e-col-6">
                    <select class="e-select e-control"  placeholder="filter By Apprentice Fee type" id="feeIDSelect" required>
                        <option value="%" 
                        hidden>All</option>
                        <option  
                        value="%">All</option>

                        <option ng-value="{{bf.fee_id}}" 
                        ng-repeat="bf in batchApprenticeFees">{{bf.description}}</option>
                    </select>
                    <input type="text" class="e-control" ng-model="dateRange" name="daterange" placeholder="Filter by Date" />
                    <button class="inverted e-btn dark" ng-click="getBatchesAFReports()"><i class="fa fa-arrow-right"></i> filter</button>
            </div>

            <div class="e-form-group unified e-col-2">
                   
                    <button class="inverted e-btn dark" ng-click="addTR()"><i class="fa fa-plus"></i> add</button>
                    <!-- <button class="inverted e-btn dark" ><i class="fas fa-print"></i> print</button> -->
            </div>
    </div>
    <table class="e-table bordered hovered" id="batchTable">
      <thead>
        <tr>
          <!-- <th style="vertical-align: middle;"> <label for="" class="d-flex centered"> <input type="checkbox" name="" id=""></label> </th> -->
          <th>#</th>
          <th>Batch</th>
          <th>From - To</th>
          <th>Quota</th>
          <th>Remaining Slots</th>
          <th>Status</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat='batch in batchesAFReports'>
            <th>{{$index + 1}}</th>
            <td>{{batch[0].name}}</td>
            <td>{{batch[0].from}} - {{batch[0].to}}</td>
            <td>{{batch[0].quota}}</td>
            <td>{{batch.available_slot}}</td>
            <td ng-bind="(batch[0].is_active == 1) ? 'active':'not active'" ng-class="(batch[0].is_active == 1) ? 'text-success':'text-danger'"></td>
            <td>
                <a href="" class="e-btn dark inverted small" ng-click="getStudentPerBatch(batch[0].id)"><i class="fas fa-search-plus"></i> </a>
            </td>
        </tr>
      </tbody>
    </table>
</div>


<div class="e-modal" id="student_batch" >
  <div class="e-modal-content eUp" style="max-width: 900px; min-width: 800px;">
    <header class="e-modal-header align-end">
      <button  type="button" class="e-delete" onclick="print('printElement')"><i class="fas fa-print"></i>  </button>
      <button type="button" class="e-delete close" style="padding: 8px;">
        <i aria-hidden="true">&times;</i>
      </button>
    </header>
    <div class="e-modal-body" id="printElement">
      <div class="centered">
          <img src="../_public/photos/logo.png" style="width:90px;height:auto;">
      </div>
      <h3 class="text-center">Midway</h3>
      <h6 class="text-center">{{student_batch[0].batch_name}}</h6>
      <h6 class="text-center">{{student_batch[0].fee_name}} </h6>    
      
      <div class="e-form-group e-col-6">
          <select class="e-select e-control"  placeholder="filter By Strand/Course" ng-model="search" required>
              <option value="" 
              hidden>All</option>
              <option  
              value="">All</option>
              <option ng-value="sb.code" ng-repeat="sb in student_batch_courses">{{sb.code}}</option>
          </select>
      </div>  
      

      <table class="e-table bordered hovered" id="batchTable">
          <thead>
            <tr>
              <th>#</th>
              <th><a href=""  ng-click="sortBy('student_number')" ng-class="(reverse) ? 'DESC': 'ASC'"> Student No </a></th>
              <th><a href=""  ng-click="sortBy('last_name')" ng-class="(reverse) ? 'DESC': 'ASC'"> Name </a></th>
              <th>Strand/Course</th>
              <th>Birthday</th>
              <th>Date Of Payment</th>
            </tr>
          </thead>
          <tbody>
              <tr dir-paginate="sb in student_batch | orderBy:propertyName:reverse | filter : search  | itemsPerPage:500">
            <!-- <tr ng-repeat='sb in student_batch | orderBy:propertyName:reverse'> -->
                <td>{{$index + 1}}</td>
                <td>{{sb.student_number}}</td>
                <td>{{sb.last_name}}, {{sb.first_name}} {{sb.middle_name}}</td>
                <td>{{sb.code}}</td>
                <td>{{sb.birthday}}</td>
                <td>{{sb.payment_date}}</td>
            </tr>
          </tbody>
        </table>
    
    </div>
   
     
  </div>
</div>


<script>


function print(elem) {
var divToPrint=document.getElementById(elem);

var newWin=window.open('','Print-Window');

newWin.document.open();

newWin.document.write(`<html>
<head>
<link rel="stylesheet" href="../_public/css/allv2.css">
<link href="https://fonts.googleapis.com/css?family=Poppins:300&display=swap" rel="stylesheet">
<link rel="stylesheet" href="../_public/css/efrolic.min.css">
</head>
<body onload="window.print()">${divToPrint.innerHTML}</body></html>`);

newWin.document.close();

setTimeout(function(){newWin.close();},6000);
}



function student_batches_modal(params) {
  $('#student_batch').addClass('launch');
}


function dismissTR(){
    $(event.target.parentNode.parentNode.parentNode).remove(); 
    
}


</script>