<div class="e-container pt-3">

        <div class="e-cols between">
            <div class="e-col-6">
                <h3 class="poppins d-block" style="font-family: 'Poppins',
          sans-serif !important;">Customer Page</h3>
    
            </div>
    
        <div class="e-col-4">
            <input class="e-control" type="text" placeholder="@Enter student Number...." ng-model="search" required>
        </div>
    
    
        </div>
        <div class="pl-2 pb-3">
            <dir-pagination-controls max-size="5" direction-links="true" boundary-links="true">
            </dir-pagination-controls>
        </div>
    
        <table class="e-table striped bordered">
            <thead>
                <tr>
                    <th>Student No</th>
                    <th>Full Name</th>
                    <th>With</th>
                    <th>Strand</th>
                </tr>
            </thead>
            <tbody ng-init="getCustomers()">
                <tr dir-paginate="customer in customers | filter : search  | itemsPerPage:20">
                    <td class=""><a href="?customers&id='{{customer.student_number}}'" class="d-rel emp">{{customer.student_number}}</a></td>
                    <td class="">{{customer.last_name}}, {{customer.first_name}} {{customer.middle_name}}</td>
                    <td class=""> <span ng-repeat="discount in customer.fees_summary.discounts"> {{discount.name}} </span></td>
                    <td class="">{{customer.name}}</td>
                   
                </tr>
            </tbody>
        </table>
    </div>
    
  