<div class="e-container-fluid p-3" ng-init="getEndofDay('%')">
  <div class="d-flex centered between">
    <h6>Total End of Day Transaction</h6>
    <div class="e-buttons unified">
      <button class="e-btn inverted small dark" ng-click="getEndofDay('%')">All</button>
      <button class="e-btn inverted small dark" ng-click="getEndofDay(user.id)"
        ng-repeat='user in allPaycoUsers'>{{user.username}}</button>
    </div>
    <h6 class="text-shadow underline underline--blue">{{today}}</h6>

  </div>

  <div class="e-container pt-1">

    <table class="e-table bordered hovered">
      <thead>
        <tr>
          <th>Category</th>
          <td ng-repeat="user in allPaycoUsers track by $index">{{user.username}}</td>
          <th>Total</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <th>Tuition fee</th>
          <td ng-repeat="tuitions in arrayofFeesComputed[0] track by $index">
              Php. {{tuitions | number:2 || "0.00"}}
          </td>
          <th>Php. {{totalYComputedHeaders[0] | number:2 || "0.00"}}</th>
        </tr>

        <tr>
          <th>Back Accounts</th>
          <td ng-repeat="ba in arrayofFeesComputed[1] track by $index">
              Php. {{ba | number:2 || "0.00"}}
          </td>
          <th>Php. {{totalYComputedHeaders[1] | number:2 || "0.00"}}</th>
        </tr>


        <tr>
          <th>Other Accounts</th>
          <td ng-repeat="of in arrayofFeesComputed[2] track by $index">
              Php. {{of | number:2 || "0.00"}}
          </td>
          <th> Php. {{totalYComputedHeaders[2] | number:2 || "0.00"}}</th>
        </tr>


        <tr>
          <th>Total: </th>
          <th ng-repeat="totalX in totalXComputedHeaders track by $index">
              Php. {{totalX | number:2 || "0.00"}}
          </th>
          <th> Php. {{totalYComputedHeaders[3] | number:2 || "0.00"}}</th>
        </tr>
      </tbody>
    </table>

  </div>


  <h6>End of Day Transaction</h6>
  <table class="e-table bordered hovered">
    <thead>
      <tr>
        <th>No.</th>
        <th>OR #</th>
        <th>Customer Number</th>
        <th>Name</th>
        <th>Strand</th>
        <th>Details</th>
        <th>Cashier</th>
        <th>Date</th>
        <th>Setting</th>
      </tr>
    </thead>
    <tbody>
      <tr dir-paginate="t in endofday | itemsPerPage:1000">
        <th>{{$index+1}}</th>
        <td> <a onclick="showReceiptDetails()" ng-click="getReceiptDetails(t.id)" class="d-rel emp">{{t.receipt_no}}</a></td>
        <td> <a href="?customers&id='{{t.student_number}}'" class="d-rel emp">{{t.student_number}}</a></td>
        <td>{{t.last_name}}, {{t.first_name}} {{t.middle_name}}</td>
        <td>{{t.course_strand}}</td>
        <td>
          <a class="e-list-item" ng-repeat="pb in t.transaction_details">
            <span class="text-shadow underline">{{pb.code}} - {{pb.description}} </span> : <strong> ₱
              {{pb.amount | number:2}}</strong>
              <span class="e-tag text-primary" ng-bind="(pb.is_posted == 1)? 'posted':'not posted'"></span>
              <span class="e-tag text-purple" ng-bind="(pb.is_voided == 1)? 'voided':'not voided'"></span>
          </a>
        </td>
        <td>{{t.cashier}}</td>
        <td>{{t.created_at}}</td>
        <td>{{t.description}}</td>
      </tr>

      <tr>
        <td style="background:#5e72e4;" class="text-white"> Total:</td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td style="background:#5e72e4;" class="text-center text-white">Php. {{totalEndofDay | number:2}}</td>
        <td></td>
        <td></td>
        <td></td>

      </tr>
    </tbody>
  </table>
</div>