<div class="e-container pt-3">

        <div class="e-cols between">
            <div class="e-col-6">
                <h3 class="poppins d-block" style="font-family: 'Poppins',
          sans-serif !important;">Fees Page</h3>
    
            </div>
    

            <div class="e-col-2">
                    <select  class="e-select e-control" placeholder="Select Category" ng-model="fCategoryID" ng-change="getFees()" name="" id="">
                        <option value="">Filter by category</option>
                        <option value="2">AF</option>
                        <option value="4">BF</option>
                        <option value="3">OF</option>

                    </select>
                </div>
            <div class="e-col-2">
                <input class="e-control" type="text" placeholder="@Enter fee name...." ng-model="search" required>
            </div>
    
            <div class="e-col-2">
                <a class="e-btn small inverted purple" id="addFees" onclick="showFeeModal()">Add Fee</a>
            </div>
    
        </div>
        <div class="pl-2 pb-3">
            <dir-pagination-controls max-size="7" direction-links="true" boundary-links="true">
            </dir-pagination-controls>
        </div>
    
        <table class="e-table striped bordered">
            <thead>
                <tr>
                    <th>Code</th>
                    <th>Description</th>
                    <th>Amount</th>
                </tr>
            </thead>
            <tbody ng-init="getFees()">
                <tr dir-paginate="fee in fees | filter : search  | itemsPerPage:30">
                    <td class="">{{fee.code}}</td>
                    <td class="">{{fee.description}}</td>
                    <td class="">Php. {{fee.amount}}</td>

                </tr>
            </tbody>
        </table>
    </div>
    
    

    <div class="e-modal" id="feeModal">
            <div class="e-modal-content eSlide">
            <header class="e-modal-header">
            <p class="e-modal-title">Add Fee</p>
            <button type="button" class="e-delete close" onclick="close()">
            <i aria-hidden="true">&times;</i>
            </button>
            </header>
            <div class="e-modal-body">
    
            <form method="POST">
            <input class="e-control" name="id" ng-model='nID' value="" type="hidden">
            <div class="e-cols">
                    <div class="e-col-6 e-form-group">
                      <label class="e-label">Code</label>
                      <input class="e-control" type="text" ng-class="(codeExists == 0) ? 'success' : 'danger'" ng-model='fCode' ng-change='checkCode()' placeholder="OF1" required>
                      <p class="e-form-info text-danger" ng-if='(codeExists >= 1)'>Please enter new code. Code already exists!</p>
                    </div>
                  
                    <div class="e-col-6 e-form-group">
                      <label class="e-label">Amount</label>
                      <input class="e-control" type="text" ng-model='fAmount' placeholder="Eg. 12500" required>
                    </div>

                    <div class="e-col-12 e-form-group">
                            <label class="e-label">Category</label>
                            <select  class="e-select e-control" placeholder="Select Category" ng-model='fCategoryID' required>
                                    <option value="">Select Category</option>
                                    <option value="2">AF</option>
                                    <option value="4">BF</option>
                                    <option value="3">OF</option>
                                </select>
                    </div>
                


            <div class="e-form-group e-col-12">
            <label class="e-label">Description</label>
            <input class="e-control" name="fullnameInput" type="text" ng-model="fDescription" placeholder="eg. Transcript of Records">
            </div>


            </div>
            <footer class="e-modal-footer">
            <button class="e-btn purple outlined" type="submit" ng-click="addFees()">Add Fees</button>

              </form>
            </footer>
            </div>
            </div>

    
    <script>
    function showFeeModal(){
    $("#feeModal").toggleClass("launch");
    };
    
    $(".close").click(function(){
    $("#feeModal").removeClass("launch");
    });
        
    </script>