 <section class="mt-1 face-body" ng-init="getActiveUser()">
     <div class="face-item">
         <h1 class="e-title">Welcome {{activeCredentials.name}}</h1>
         <a class="e-btn purple" href="?users">Manage Users</a>
         <a class="e-btn inverted purple" href="?cashboard">Cashboard</a>
     </div>
 </section>