<div class="e-container pt-3"  ng-init='getAllUsers()'>

    <div class="e-cols between">
        <div class="e-col-6">
            <h3 class="poppins d-block" style="font-family: 'Poppins',
      sans-serif !important;">Users Page</h3>

        </div>

        <div class="e-col-4">
            <input class="e-control" type="text" placeholder="@Enter Username...." ng-model="search" required>
        </div>

        <div class="e-col-2">
            <a class="e-btn small inverted primary"  onclick="show()"  ng-click="userController('add')">Create User</a>
        </div>

    </div>
    <div class="pl-2 pb-3">
        <dir-pagination-controls max-size="5" direction-links="true" boundary-links="true">
        </dir-pagination-controls>
    </div>


    <div class="e-list">
        <div class="e-list-item" dir-paginate="u in users | filter : search  | itemsPerPage:20">
          <div class="between">
            <h5 class="no-m text-primary">{{u.name}}</h5>
            <small ng-class="(u.is_active == 0 ?'text-danger' : '')">@{{u.username}}</small>
          </div>
          <small class="no-m">{{u.email}}</small>
          <div class="between">
            <div> <span class="e-tag small primary ml-4" ng-repeat='a in u.roles'> {{a}} </span>  </div>
            <div class="">
                <a class="e-btn small danger inverted" ng-if="u.is_active == 1" ng-click="activateUser(u.id ,'0')"><i class="fas fa-skull-crossbones"></i> deactivate</a>
                <a class="e-btn small success inverted" ng-if="u.is_active == 0" ng-click="activateUser(u.id,'1')"><i class="fas fa-power-off"></i> activate</a>
                <a class="e-btn small purple inverted" onclick="show()" ng-click="userController('update',u.id)"> <i class="fas fa-user-edit"></i> edit credentials</a>
            </div>
          </div>
        </div>  
    </div>




                <div class="e-modal" id="userDetails">
                    <div class="e-modal-content eSlide">
                    <header class="e-modal-header">
                    <p class="e-modal-title">User Credentials</p>
                    <button type="button" class="e-delete close" onclick="close()">
                    <i aria-hidden="true">&times;</i>
                    </button>
                    </header>
                    <div class="e-modal-body">
            
                    <form method="POST">
                    <input class="e-control" name="id" ng-model='nID' value="" type="hidden">
                    <div class="e-cols">
                            <div class="e-col-6 e-form-group">
                              <label class="e-label">Username</label>
                              <input class="e-control" type="text" ng-model='nUsername' placeholder="@username">
                            </div>
                          
                            <div class="e-col-6 e-form-group">
                              <label class="e-label">Email</label>
                              <input class="e-control" type="email" ng-model='nEmail' placeholder="username@gmail.com">
                            </div>
                  


                    <div class="e-form-group e-col-12">
                    <label class="e-label">Fullname</label>
                    <input class="e-control" name="fullnameInput" type="text" ng-model="nFname" id="fullnameInput" placeholder="eg. Antonio M. Lising">
                    </div>


                    <div class="e-form-group unified e-col-12">
                    <label class="e-label">Password</label>
                    <input class="e-control" type="password" name="pw" id="pw" ng-model="nPw" placeholder="Password" required>
                    <input class="e-control" type="password" id="repw" placeholder="Re-type Password" required>
                    </div>


                    <div class="e-col-12">
                    <label class='e-label'> Assign a role </label>
                        <label ng-repeat="role in initial_roles" class="ml-4" ng-init="userRoles.roles">
                        <input type="checkbox" checklist-model="userRoles.roles" checklist-value="role"> {{role}}
                        </label>
                    </label>
                    </div>
                    </div>

                    </div>
                    <footer class="e-modal-footer">
                    <button class="e-btn purple inverted" type="submit" ng-if="action == 'add'" ng-click="addUser()">Add User</button>
                    <button class="e-btn primary inverted" type="submit" ng-if="action == 'update'" ng-click="updateUser(nID)">Update User</button>

                      </form>
                    </footer>
                    </div>
                    </div>



<script>

function show(){
    $("#userDetails").toggleClass("launch");
}

function close(){
    $("#userDetails").removeClass("launch");
}
$(".close").click(function(){
$("#userDetails").removeClass("launch");
});
    
</script>